.dashboardMainDiv {
  background-color: rgb(243 244 246); /* Tailwind's bg-gray-100 #f7fafc */
  padding: 16px; /* Tailwind's p-4 = 1rem */
  font-family: monospace; /* Tailwind's font-mono */
  display: flex;
  flex-direction: column;
}

.mainContent {
  border: 0.125rem solid gray;
  background-color: white;
  padding: 16px;
  flex: 1;
  margin-left: 16px;
}

.bottomDiv {
  display: flex;
  height: 66vh;
}
